<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeriodistaCelular.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RTVE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>vimojo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A99BAC4A1E49DC9D00A465C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9B385E51D7D51380065D3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9B385F91D7D51380065D3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D076D61E2F80B1003AE96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
